@use '../abstracts/config' as config;
@use '../abstracts/functions' as fn;

[data-theme='dark'] {
  --scx-background: #{fn.color(config.$neutral, 950)};
  --scx-foreground: #{fn.color(config.$neutral, 50)};

  --scx-primary: #{fn.color(config.$primary, 500)};
  --scx-primary-foreground: #{fn.color(config.$neutral, 950)};

  --scx-secondary: #{fn.color(config.$neutral, 800)};
  --scx-secondary-foreground: #{fn.color(config.$neutral, 50)};

  --scx-muted: #{fn.color(config.$neutral, 800)};
  --scx-muted-foreground: #{fn.color(config.$neutral, 400)};

  --scx-accent: #{fn.color(config.$primary, 900)};
  --scx-accent-foreground: #{fn.color(config.$primary, 100)};

  --scx-destructive: #ef4444;
  --scx-destructive-foreground: #{fn.color(config.$neutral, 50)};

  --scx-success: #22c55e;
  --scx-success-foreground: #{fn.color(config.$neutral, 950)};

  --scx-warning: #f59e0b;
  --scx-warning-foreground: #{fn.color(config.$neutral, 950)};

  --scx-border: #{fn.color(config.$neutral, 800)};

  --scx-border: #{fn.color(config.$neutral, 800)};
  --scx-input: #{fn.color(config.$neutral, 800)};
  --scx-ring: #{fn.color(config.$primary, 400)};
}