@use '../abstracts/config' as config;
@use '../abstracts/functions' as fn;

:root {
  --scx-background: #{fn.color(config.$neutral, 50)};
  --scx-foreground: #{fn.color(config.$neutral, 950)};

  --scx-primary: #{fn.color(config.$primary, 600)};
  --scx-primary-foreground: #{fn.color(config.$neutral, 50)};

  --scx-secondary: #{fn.color(config.$neutral, 100)};
  --scx-secondary-foreground: #{fn.color(config.$neutral, 900)};

  --scx-muted: #{fn.color(config.$neutral, 100)};
  --scx-muted-foreground: #{fn.color(config.$neutral, 500)};

  --scx-accent: #{fn.color(config.$primary, 100)};
  --scx-accent-foreground: #{fn.color(config.$primary, 900)};

  --scx-destructive: #dc2626;
  --scx-destructive-foreground: #{fn.color(config.$neutral, 50)};

  --scx-border: #{fn.color(config.$neutral, 200)};
  --scx-input: #{fn.color(config.$neutral, 200)};
  --scx-ring: #{fn.color(config.$primary, 500)};

  --scx-success: #16a34a;
  --scx-success-foreground: #{fn.color(config.$neutral, 50)};

  --scx-warning: #d97706;
  --scx-warning-foreground: #{fn.color(config.$neutral, 50)};
}