.scx-label {
  display: inline-flex;
  align-items: center;

  color: var(--scx-foreground);

  font-family: var(--scx-font-sans);
  font-size: var(--scx-text-sm);
  font-weight: var(--scx-weight-medium);
  line-height: var(--scx-leading-normal);

  user-select: none;
}